/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Vollkorn', serif;

*/

/********** Utility Start **********/
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 font-size: 10px;
}
.container {
 padding: 2% 2%;
}

:root {
 --smoke: #f5f5f5;
 --dgray: #333;
 --lgray: #5c5c5c;
 --Btn-hover: #878787;
 --footerclr: #242424;
}
h2 {
 color: var(--dgray);
 font-family: "Montserrat", sans-serif;
}
p {
 color: var(--lgray);
 font-family: "Source Sans Pro", sans-serif;
}
h4,
h5 {
 color: var(--dgray);
 font-family: "Vollkorn", serif;
}
button,
a {
 font-family: "Montserrat", sans-serif;
}
/********** Utility end **********/

/********** Header Start **********/
.head {
 background-image: url("../img/bg1.jpg");
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
}

/* navbar */
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo {
 cursor: pointer;
}
.navbar .navlist {
 display: flex;
 transition: all 0.5s ease;
}
.navbar .navlist li {
 list-style-type: none;
 padding: 1rem 3rem 1rem 3rem;
}
.navbar .navlist li:nth-child(5) {
 padding: 1rem 0 1rem 3rem;
}

.navbar .navlist li a {
 text-decoration: none;
 color: #fff;
 font-size: 1.6rem;
 transition: all 0.3s ease;
 cursor: pointer;
}
.navbar .navlist li a:hover {
 color: #e2e2e2;
}

/* menu bar - burger */
.navbar .menu-bar .icon {
 color: #fff;
 font-size: 2.6rem;
 display: none;
 cursor: pointer;
}
/* input click for click event */
#click {
 display: none;
}

/* tagline */
.tagline {
 display: block;
 width: 45%;
 margin: 20rem 16rem 0 auto;
 text-align: right;
 color: #fff;
 padding-bottom: 30rem;
}
.tagline h1 {
 font-family: "Montserrat", sans-serif;
 font-size: 5.6rem;
 margin-bottom: 10px;
}
.tagline h4 {
 color: #fff;
 font-size: 1.9rem;
 line-height: 2.2rem;
 font-style: italic;
 font-weight: 400;
}
/********** Header End **********/

/********** Section 1 - About Start **********/
.sec1 {
 padding: 2%;
}
.about {
 display: grid;
 grid-template-columns: 49% 49%;
 grid-template-rows: 50% 50%;
 grid-gap: 2%;
}

.about .common-block {
 text-align: center;
}
.about .block2,
.about .block3 {
 background-color: var(--smoke);
 padding: 2rem;
}
.about .common-block img {
 width: 100%;
}

.about .common-block h2 {
 margin-top: 12rem;
 margin-bottom: 1rem;
 font-size: 42px;
 line-height: 40px;
 font-weight: 700;
 letter-spacing: -3px;
}
.about .common-block h5 {
 margin-bottom: 3rem;
 font-size: 16px;
 line-height: 22px;
 font-style: italic;
 font-weight: 400;
}

.about .common-block p {
 font-size: 15px;
 line-height: 22px;
 font-weight: 400;
 letter-spacing: -0.5px;
 margin-bottom: 3rem;
}
.btn {
 display: inline-block;
 padding: 1.5rem 3.5rem;
 border: 2px solid #000;
 background-color: transparent;
 transition: all 500ms ease;
 color: var(--dgray);
 font-size: 1.2rem;
 letter-spacing: -1px;
}
.btn:hover {
 border-color: var(--Btn-hover);
 background-color: var(--Btn-hover);
 color: #fff;
}
/********** Section 1 - About End **********/

/********** Media Query For Mobile **********/

@media only screen and (min-width: 200px) and (max-width: 850px) {
 /* li */
 .navbar .navlist li {
  margin: 2rem;
 }
 /* li last child */
 .navbar .navlist li:nth-child(5) {
  padding: 1rem 3rem 1rem 3rem;
 }

 /* li a */
 .navbar .navlist li a {
  color: #222;
 }
 .navbar .navlist li a:hover {
  color: var(--lgray);
 }
 /* navlist ul */
 .navbar .navlist {
  position: fixed;
  top: 10rem;
  right: -100%;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
 }

 /* menu bar */
 .navbar .menu-bar .icon {
  display: block;
 }
 /* check box for right -100 to 0 */
 #click:checked ~ .navlist {
  right: 0;
 }
 /* check box "X" when clicked */
 #click:checked ~ .menu-bar .icon::before {
  content: "\f00d";
 }
 /* tagline */
 .head {
  background-position: center;
 }
 .tagline {
  width: 80%;
  text-align: left;
  padding-bottom: 24rem;
 }

 .tagline h1 {
  font-size: 4rem;
 }

 /* sec1 */
 .about {
  display: block;
 }
 .about .block2,
 .about .block3 {
  margin: 2% 0;
 }
 .block4 {
  display: none;
 }
}
